body {
    margin: 40px;
    font-family: 'Inter', sans-serif;
    background: radial-gradient(circle at 30% 30%, #00d0ff, #3babf7);
    color: #e7e7e7;
    line-height: 1.6;
}



/* Headings */
h1 {
    font-weight: 800;
    font-size: 2.5rem;
    margin-bottom: 10px;
}

/* Paragraph */
p {
    font-size: 1.1rem;
    color: #475569;
}

/* Optional subtle card effect */
.content {
    max-width: 700px;
}

/* Glass Card */
.card {
    backdrop-filter: blur(20px);
    background: rgba(255,255,255,0.05);
    border: 1px solid rgba(255,255,255,0.1);
    padding: 1rem;
    border-radius: 20px;
    text-align: center;
    width: 400px;
    box-shadow: 0 20px 60px rgba(0,0,0,0.5);
    transition: 0.3s ease;
}

.card:hover {
    transform: translateY(-10px);
}

button {
    margin-top: 20px;
    padding: 12px 24px;
    border-radius: 10px;
    border: none;
    font-weight: 600;
    background: linear-gradient(45deg,#8b5cf6,#6366f1);
    color: white;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    box-shadow: 0 0 20px #8b5cf6;
}

.center {
    max-width: fit-content;
  margin-inline: auto;
  text-align: center;
}

.features-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 2.5rem;
}

/* NAVBAR */
.navbar {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);

    width: 90%;
    max-width: 1100px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 15px 30px;

    background: rgba(255, 255, 255, 0.08);
    backdrop-filter: blur(12px);
    border-radius: 16px;

    box-shadow: 0 8px 25px rgba(0,0,0,0.3);
}

/* Links */
.nav-links {
    list-style: none;
    display: flex;
    gap: 30px;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-weight: 500;
    transition: 0.3s;
}

.nav-links a:hover {
    opacity: 0.7;
}

/* Button */
.nav-btn {
    padding: 8px 18px;
    border: none;
    border-radius: 10px;
    background: #3b82f6;
    color: white;
    cursor: pointer;
    transition: 0.3s;
}

.nav-btn:hover {
    background: #2563eb;
}
/* Logo */
.logo {
    font-weight: bold;
    font-size: 1.2rem;
}